.text {
  margin: 0;
  font-size: 24px;
}
.button {
  border-radius: 4px;
  width: 96px;
  height: 28px;
  text-align: center;
  margin-left: 12px;
  border: none;
  cursor: pointer;
  background-color: yellow;
}
.button:hover {
  background-color: crimson;
}
