.button {
  border-radius: 4px;
  width: 96px;
  height: 28px;
  text-align: center;
  margin-left: 12px;
  border: 1px solid rgb(183, 183, 183);
  cursor: pointer;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.text {
  margin: 0;
  font-size: 24px;
}
