.list {
  border-radius: 8px;
  margin-bottom: 12px;
  background-color: aquamarine;
}
.item {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.text {
  margin: 0;
  font-size: 24px;
}
